@model IEnumerable<Capstone_FotoMe.Models.PhotoEnthusiast>

@{
    ViewData["Title"] = "GetAllPhotoEnthusiasts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Photo Enthusiasts</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceForService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceForService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            
            <td>
               
                @Html.ActionLink("Send Friend Request", "AddFriend", new {  id=item.PhotoEnthusiastId})
            </td>
        </tr>
}
    </tbody>
</table>
